@model CertificateViewModel
@using (Html.BeginForm("Certificate", "ResumeBuilder"))
{
    <div id="certificateNameAndDate" style="width:55%; margin:10px">
    <div  class="form-outline mb-3">
        <label class="form-label" style="width: 100%;margin-top: 30px;" for="text">Enter the NAME of your certificate</label>
        <br>
        @Html.TextBoxFor(m=>m.CertificateName)
        @Html.ValidationMessageFor(m => m.CertificateName)
    </div>

    <div>
        <label class="form-label" style="width: 100%;margin-top: 30px;" for="date">Enter issuing organization</label>
        <br>
        @Html.TextBoxFor(m=>m.IssuingOrganization)
        @Html.ValidationMessageFor(m => m.IssuingOrganization)
    </div>

    <div>
        <label class="form-label" style="width: 100%;margin-top: 30px;" for="date">Enter the DATE of your certificate</label>
        <br>
        @Html.TextBoxFor(m=>m.IssueDate)
        @Html.ValidationMessageFor(m => m.IssueDate)
    </div>

</div>

    <button onclick="myFunction()">Add a certificate</button>

    <button style="margin-top:150px;" type="submit" class="btn btn-primary">
        Next step
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
        </svg>
    </button>

    <script>
        function myFunction() {
            const node = document.getElementById("certificateNameAndDate");
            const clone = node.cloneNode(true);
        }
    </script>
}

