@model EducationViewModel
<h1>Your education</h1>
@using(Html.BeginForm("CreateEducation", "ResumeBuilder"))
{
    <div id="newEducation" style="width:55%; margin:10px;">
        <div class="form-outline mb-3">
            <label class="form-label" style="width: 100%;margin-top: 15px;" for="text">Enter institute</label>

            @Html.TextBoxFor(m=>m.InstituteName)
            @Html.ValidationMessageFor(m => m.InstituteName)
        </div>

        <div class="form-outline mb-3">
            <label class="form-label" style="width: 100%;margin-top: 15px;" for="text">Enter degree</label>
            @Html.TextBoxFor(m=>m.Degree)
            @Html.ValidationMessageFor(m => m.Degree)
        </div>
        <div class="form-outline mb-3">
            <label class="form-label" style="width: 100%;margin-top: 15px;" for="text">Enter field of study</label>

            @Html.TextBoxFor(m=>m.FieldOfStudy)
            @Html.ValidationMessageFor(m => m.FieldOfStudy)
        </div>

        <div class="form-outline mb-3">
            <label class="form-label" style="width: 100%;margin-top: 15px;" for="text">Enter studying period</label>

            @Html.TextBoxFor(m=>m.StartDate)
            @Html.ValidationMessageFor(m => m.StartDate)
            @Html.TextBoxFor(m=>m.EndDate)
            @Html.ValidationMessageFor(m => m.EndDate)
        </div>
    </div>
    <div>
        <button>Save</button>
    </div>
}

